In [2]:
import pandas as pd
import pygad
import numpy

# Extração e visualização de dados...
df_raw = pd.read_csv('DSGER.csv', sep=' ', index_col=False)
display(df_raw.head())
# display(df_raw.info())

df = pd.get_dummies(df_raw) # técina one-hot
display(df.head())
# display(df.info())

# Algoritmos Genéticos
function_inputs = df.iloc[0].to_list()
print(function_inputs)

desired_output = 0 # Segundo a modelagem, um score maior ou igual a zero significa que o cliente é um bom pagador

def fitness_func(ga_instance, solution, solution_idx):
    output = numpy.sum(solution*function_inputs)
    fitness = 1.0 / numpy.abs(output - desired_output)
    return fitness

fitness_function = fitness_func

num_generations = 600 # Critério de parada, 600 gerações
num_parents_mating = round(len(function_inputs) * 0.1) # número de pais selecionados para reprodução, entre 10% - 20%

sol_per_pop = round(len(function_inputs) * 0.2) # Número de soluções criadas e evoluídas por geração, entre 10% - 20%
num_genes = len(function_inputs) # 62 genes

# Definição do intervalo de geração de genes
init_range_low = -1 # limite do intervalo inferior
init_range_high = 1 # limite do intervalo superior

parent_selection_type = "rws" # Método da roleta
keep_parents = 1 # 10% de elitismo

crossover_type = "single_point" # crossover de 1 corte

# Mutação de aleatória e com taxa de 0.5%
mutation_type = "random"
mutation_percent_genes = 0.5

ga_instance = pygad.GA(num_generations=num_generations,
                       num_parents_mating=num_parents_mating,
                       fitness_func=fitness_function,
                       sol_per_pop=sol_per_pop,
                       num_genes=num_genes,
                       init_range_low=init_range_low,
                       init_range_high=init_range_high,
                       parent_selection_type=parent_selection_type,
                       keep_parents=keep_parents,
                       crossover_type=crossover_type,
                       mutation_type=mutation_type,
                       mutation_percent_genes=mutation_percent_genes)

ga_instance.run()

solution, solution_fitness, solution_idx = ga_instance.best_solution()
print("Parameters of the best solution : {solution}".format(solution=solution))
print("Fitness value of the best solution = {solution_fitness}".format(solution_fitness=solution_fitness))

prediction = numpy.sum(numpy.array(function_inputs)*solution)
print("Predicted output based on the best solution : {prediction}".format(prediction=prediction))

C:\Users\david\AppData\Local\Temp\ipykernel_17836\3738754491.py:6: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_raw = pd.read_csv('DSGER.csv', sep=' ', index_col=False)

,status_conta_corrente,duracao,historico_credito,finalidade,valor_credito,conta_poupanca,emprego_desde,taxa_parcelamento,estado_civil_sexo,outros_devedores,residencia_atual,propriedade,idade,outros_planos_parcelamento,tipo_moradia,numero_creditos,emprego,pessoas_dependentes,telefone,trabalhador_estrangeiro
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201

,duracao,valor_credito,taxa_parcelamento,residencia_atual,idade,numero_creditos,pessoas_dependentes,status_conta_corrente_A11,status_conta_corrente_A12,status_conta_corrente_A13,...,tipo_moradia_A152,tipo_moradia_A153,emprego_A171,emprego_A172,emprego_A173,emprego_A174,telefone_A191,telefone_A192,trabalhador_estrangeiro_A201,trabalhador_estrangeiro_A202
0,6,1169,4,4,67,2,1,1,0,0,...,1,0,0,0,1,0,0,1,1,0
1,48,5951,2,2,22,1,1,0,1,0,...,1,0,0,0,1,0,1,0,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,1,0,0,1,0,0,1,0,1,0
3,42,7882,2,4,45,1,2,1,0,0,...,0,1,0,0,1,0,1,0,1,0
4,24,4870,3,4,53,2,2,1,0,0,...,0,1,0,0,1,0,1,0,1,0

C:\Users\david\AppData\Roaming\Python\Python39\site-packages\pygad\pygad.py:641: UserWarning: The percentage of genes to mutate (mutation_percent_genes=0.5) resutled in selecting (0) genes. The number of genes to mutate is set to 1 (mutation_num_genes=1).
If you do not want to mutate any gene, please set mutation_type=None.
  if not self.suppress_warnings: warnings.warn("The percentage of genes to mutate (mutation_percent_genes={mutation_percent}) resutled in selecting ({mutation_num}) genes. The number of genes to mutate is set to 1 (mutation_num_genes=1).\nIf you do not want to mutate any gene, please set mutation_type=None.".format(mutation_percent=mutation_percent_genes, mutation_num=mutation_num_genes))

[6, 1169, 4, 4, 67, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0]
Parameters of the best solution : [ 0.98946787  0.03560703  0.1164422  -0.48859325 -0.73366039 -0.51901777
  0.71402282  0.18935235  0.4194392   0.32482882  0.28535944  1.04456548
 -1.41817344  1.75488876  0.04505552 -0.06111837  1.53734481  1.97829271
 -1.25204594 -0.15576382  0.79040204  2.37645365 -1.9578314  -0.83750865
  2.98162519 -0.34387102  2.69777153  1.40281365 -1.51468803  3.08479587
 -0.84965218 -1.22670468 -0.31398194  1.09519712  1.11137906 -0.02456436
  2.02169286  1.3422663   0.74348517 -0.29558042 -0.98902663 -0.09637099
  0.36862962  0.05917853  1.74305711 -0.76841966  0.2836906   6.17441588
 -1.01852053  0.96258549  2.06021748  0.63897425  0.35911664  0.60905227
  0.6678528   0.94923753  1.52270751 -1.31018809  0.44199292  0.55561332
 -0.92843625]
Fitness value of the best solution = 50096.96074301555
Predicted output based on the best solution : 1.9961290768311102e-05

In [7]:
# -*- coding: utf-8 -*-
"""Olá, este é o Colaboratory

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/notebooks/intro.ipynb
"""

import pandas as pd
import numpy as np
import random

# Extração e visualização de dados...
Base = pd.read_csv('DSGER.csv', sep=' ', index_col=False)
Base2 = pd.read_csv('DSGER (2).csv', sep=' ', index_col=False)
display(Base.head())

Base_transformada = pd.get_dummies(Base) # técnica one-hot
display(Base_transformada.head())

# Definir parâmetros
num_individuals = 100
num_genes = 61
weight_range = (-1, 1)

# Gerar população inicial
population = []
for _ in range(num_individuals):
    chromosome = [random.uniform(weight_range[0], weight_range[1]) for _ in range(num_genes)]
    population.append(chromosome)

print(population[1])

pesowi=[]
avaliacao = [] # vetor com cada entrada sendo um vetor dos scores relacionados aos pesos wi (population[i])
for i in range(num_individuals):
    for j in range(num_individuals):
        score = np.dot(population[i], Base_transformada.iloc[j])
        if score>0:
            score=1
        else:
            score=2
        pesowi.append(score)
    avaliacao.append(pesowi)
    pesowi=[]

print(avaliacao[1])
print(avaliacao[10])
print(avaliacao[5])


acerto_bom=0
acerto_mau=0
n_bom=0
n_mau=0

#comparar com a base de dados e calcular acertos:
for i in range(num_individuals):
    if avaliacao[i]==1 and Base2['avaliacao'].iloc[i]==1:
        acerto_bom = acerto_bom+1

    if avaliacao[i]==2 and Base2['avaliacao'].iloc[i]==2:
        acerto_mau = acerto_mau+1

    if Base2['avaliacao'].iloc[i]==1:
        n_bom = n_bom+1

    if Base2['avaliacao'].iloc[i]==2:
        n_mau = n_mau+1


Tab = acerto_bom/n_bom
Tam = acerto_mau/n_mau

#funcao fitness
Ia = Tab*Tam





desired_output = 1 # como Ia é tomado em porcentagem, queremos 100% de acerto

C:\Users\david\AppData\Local\Temp\ipykernel_3524\1167737543.py:15: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  Base = pd.read_csv('DSGER.csv', sep=' ', index_col=False)

,status_conta_corrente,duracao,historico_credito,finalidade,valor_credito,conta_poupanca,emprego_desde,taxa_parcelamento,estado_civil_sexo,outros_devedores,residencia_atual,propriedade,idade,outros_planos_parcelamento,tipo_moradia,numero_creditos,emprego,pessoas_dependentes,telefone,trabalhador_estrangeiro
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201

,duracao,valor_credito,taxa_parcelamento,residencia_atual,idade,numero_creditos,pessoas_dependentes,status_conta_corrente_A11,status_conta_corrente_A12,status_conta_corrente_A13,...,tipo_moradia_A152,tipo_moradia_A153,emprego_A171,emprego_A172,emprego_A173,emprego_A174,telefone_A191,telefone_A192,trabalhador_estrangeiro_A201,trabalhador_estrangeiro_A202
0,6,1169,4,4,67,2,1,1,0,0,...,1,0,0,0,1,0,0,1,1,0
1,48,5951,2,2,22,1,1,0,1,0,...,1,0,0,0,1,0,1,0,1,0
2,12,2096,2,3,49,1,2,0,0,0,...,1,0,0,1,0,0,1,0,1,0
3,42,7882,2,4,45,1,2,1,0,0,...,0,1,0,0,1,0,1,0,1,0
4,24,4870,3,4,53,2,2,1,0,0,...,0,1,0,0,1,0,1,0,1,0

[0.23445753147731274, 0.16063725386941785, -0.4131575855846852, 0.6167804620351405, 0.6858998929449482, 0.40794076809895063, 0.38949977069463904, 0.5055776842948447, -0.32802417641652637, -0.31704796369236665, -0.679081018470657, 0.0588634139825952, 0.974352470559501, -0.46309928554572033, 0.4931675865322085, -0.08803891593519309, 0.30165737829788, 0.5359457349875043, 0.7644899294120917, 0.9743772117920537, -0.9608148367860445, 0.2922450677512938, -0.8314230629962545, -0.6543498099949365, -0.30174319619057965, -0.4726899628952437, -0.9486127102941102, 0.10460048607301808, 0.3722994702718787, 0.20618593871270896, 0.6876937078684724, 0.012011622394620947, -0.15670504766935034, -0.9681527245861534, -0.05498239581359021, -0.336984883495677, -0.35624216593823066, -0.7316171897791319, 0.8629971500279228, 0.5559783922035986, -0.21041689935060748, -0.4641122971938412, 0.38152990474283777, 0.7896320705142774, -0.21237545065600094, -0.7384869267674634, -0.04597318283008578, 0.41717613511886986, 0.11038222897339312, 0.4409699246493948, -0.09905296308024747, -0.366546640829015, -0.29284465676965366, 0.7318897988854136, -0.5873089591156737, 0.14821173942918908, 0.8042315665263875, 0.4716640113730497, -0.27151927925684083, 0.4569478152008737, 0.27689912544341966]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [97]:
import pandas as pd
import numpy as np

# Extraindo dados do CSV proposto
df_raw = pd.read_csv('DSGER.csv', sep=' ', index_col=False)

# Função que mostra os intervalos (arbitrários) de variáveis a serem categorizadas
def param_max_min(key):
    print(f'Variável: {key.upper()}')
    max = prim_100[key].max()
    min = prim_100[key].min()
    print(f'I: [{min}, {max}]')
    
    print('Categorização:')
    if(4*min < max):
        print(f'1:[0, {max/4}]; 2:({max/4}, {2*max/4}]; 3:({2*max/4}, {3*max/4}]; 4:({3*max/4}, {max}]')
    elif(4*min == max):
        print(f'1: {max/4}; 2: {2*max/4}; 3: {3*max/4}; 4: {max}')
    elif(2*min == max):
        print(f'1: {min}; 2: {max}')
    elif(4*min > max):
        print(f'1:[0, {round(max/3)}]; 2:({round(max/3)}, {round(2*max/3)}]; 3:({round(2*max/3)}, {round(max)}]')

    print('\n')


# Variáveis que serão categorizadas
variaveis = ['idade', 'valor_credito', 'duracao', 'taxa_parcelamento', 
             'residencia_atual', 'numero_creditos', 'pessoas_dependentes']

for variavel in variaveis:
    param_max_min(variavel)

# Função para categorizar as variáveis de forma dinâmica
def categorizar(chave, valor):
    max = prim_100[chave].max()
    min = prim_100[chave].min()
    if(4*min < max):
        if(0 <= valor <= max/4):
            return f'{chave}1'
        elif(max/4 < valor <= 2*max/4):
            return f'{chave}2'
        elif(2*max/4 < valor <= 3*max/4):
            return f'{chave}3'
        elif(3*max/4 < valor <= max):
            return f'{chave}4'
    elif(4*min == max):
        if(valor == max/4):
            return f'{chave}1'
        elif( valor == 2*max/4):
            return f'{chave}2'
        elif(valor == 3*max/4):
            return f'{chave}3'
        elif(valor == max):
            return f'{chave}4'
    elif(2*min == max):
        if(valor == min):
            return f'{chave}1'
        elif( valor == max):
            return f'{chave}2'
    elif(4*min > max):
        if(0 <= valor <= round(max/3)):
            return f'{chave}1'
        elif(round(max/3) < valor <= round(2*max/3)):
            return f'{chave}2'
        elif(round(2*max/3) < valor <= round(max)):
            return f'{chave}3'

# Aplicando categorização
for variavel in variaveis:
    df_raw.loc[:, variavel] = df_raw[variavel].apply(lambda row: categorizar(variavel, row))

# A variável 'tipo_cliente' determina se ele é um bom(1) ou mal(0) pagador. Valores gerados de forma aleatória. 
df_raw['tipo_cliente'] = np.random.randint(0, 2, len(df_raw))

 # Aplicando técina one-hot. 
df = pd.get_dummies(df_raw)
display(df.head())

C:\Users\david\AppData\Local\Temp\ipykernel_17836\3116491547.py:5: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_raw = pd.read_csv('DSGER.csv', sep=' ', index_col=False)

Variável: IDADE
I: [20, 67]
Categorização:
1:[0, 22]; 2:(22, 45]; 3:(45, 67]


Variável: VALOR_CREDITO
I: [409, 15945]
Categorização:
1:[0, 3986.25]; 2:(3986.25, 7972.5]; 3:(7972.5, 11958.75]; 4:(11958.75, 15945]


Variável: DURACAO
I: [6, 60]
Categorização:
1:[0, 15.0]; 2:(15.0, 30.0]; 3:(30.0, 45.0]; 4:(45.0, 60]


Variável: TAXA_PARCELAMENTO
I: [1, 4]
Categorização:
1: 1.0; 2: 2.0; 3: 3.0; 4: 4


Variável: RESIDENCIA_ATUAL
I: [1, 4]
Categorização:
1: 1.0; 2: 2.0; 3: 3.0; 4: 4


Variável: NUMERO_CREDITOS
I: [1, 4]
Categorização:
1: 1.0; 2: 2.0; 3: 3.0; 4: 4


Variável: PESSOAS_DEPENDENTES
I: [1, 2]
Categorização:
1: 1; 2: 2

,tipo_cliente,status_conta_corrente_A11,status_conta_corrente_A12,status_conta_corrente_A13,status_conta_corrente_A14,duracao_duracao1,duracao_duracao2,duracao_duracao3,duracao_duracao4,historico_credito_A30,...,emprego_A171,emprego_A172,emprego_A173,emprego_A174,pessoas_dependentes_pessoas_dependentes1,pessoas_dependentes_pessoas_dependentes2,telefone_A191,telefone_A192,trabalhador_estrangeiro_A201,trabalhador_estrangeiro_A202
0,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,1,0
1,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
3,0,1,0,0,0,0,0,1,0,0,...,0,0,1,0,0,1,1,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,1,0,1,0